PORT=3000
# Yo usé MongoDB Atlas, pero pueden usar cualquier base de datos MongoDB
DB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/nombre_db

# //node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_secret_key=coloca_aqui_tu_clave_jwt_larga_y_segura

# Pueden usar su correo personal o institucional para las pruebas
SENDER_EMAIL=correo@dominio.com

# acá generen una app password desde este link: https://support.google.com/accounts/answer/185833?hl=es-419 Les va a tocar leer un poco :) 
SENDER_PASSWORD=app_password_o_clave_smtp

# URL del frontend, Vite por defecto corre en el puerto 5173, pero si lo cambian acá también lo tienen que actualizar
FRONTEND_URL=http://localhost:5173
